@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2e160c;
    --second-bg-color: #140c09;
    --text-color: #FFFFFF;
    --highlights: #FFCC33;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* General Styling */
section {
    padding: 10rem 15% 10rem;
}

.heading {
    font-size: 4rem;
    margin-bottom: 5%;
    text-align: center;
}

span {
    color: var(--highlights);
}

/* Buttons */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 5rem;
    text-shadow: 2px 2px 5px var(--bg-color);
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 100%;
    background: transparent;
    border: .2rem solid var(--highlights);
    border-radius: .8rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--highlights);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--bg-color);
    text-shadow: none;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--highlights);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

/* NAVBAR */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s ease;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 600;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--highlights);
}

/* HOME */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url(../images/home.jpg) bottom no-repeat;
    background-size: cover;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home > * {
    position: relative;
    z-index: 2;
}

.home-content {
    max-width: 60rem;
}

.home-content h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 0.5;
    text-shadow: 2px 2px 5px var(--bg-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 2px 2px 5px var(--bg-color);
}

.home-content #typewriter {
    position: relative;
    color: var(--highlights);
    font-size: 2.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px var(--bg-color);
}

.home-content p {
    font-size: 1.8rem;
    margin: 4rem 0 4rem;
    text-shadow: 2px 2px 5px var(--bg-color);
}

.social {
    display: flex;
    position: absolute;
    bottom: 4rem;
    text-shadow: 2px 2px 5px var(--bg-color);
}

.social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: .2rem solid var(--highlights);
    border-radius: 50%;
    font-size: 35px;
    color: var(--highlights);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social .amazon {
    margin-left: .4em;
}

.social a:hover {
    color: var(--bg-color);
    text-shadow: none;
}

.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--highlights);
    z-index: -1;
    transition: 0.5s;
}

.social a:hover::before {
    width: 100%;
}

/* LIVROS */
.books-img img {
    float: right;
    width: 25rem;
    margin: 5rem 0 3rem 8%;
}

.books-content h3 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.books-content p {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.btn-box.btnss {
    margin: auto;
    width: 15rem;
}

/* SOBRE */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-bg-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--highlights);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--highlights);
    border-right: .2rem solid var(--highlights);
    animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
    margin-top: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
 
/* CONTATO */
/* .contact-content {
    margin: 2rem 0 3rem;
}

.contact-content p {
    font-size: 1.6rem;
    text-align: center;
}

.contact form {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .6rem;
    border: .2rem solid var(--highlights);
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
    margin-top: 2rem;
} */

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 10%;
    background: var(--bg-color);
}

.copyright p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: transparent;
    border: .2rem solid var(--highlights);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--highlights);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 3rem;
    color: var(--highlights);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--bg-color);
}

/********** BREAKPOINTS **********/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    .home {
        padding: 0 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--highlights);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .books-img {
        text-align: center;
    }

    .books-img img {
        float: none;
        width: 30rem;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h2 {
        font-size: 3.5rem;
    }

    .home-content h1 {
        font-size: 5.2rem;
    }

    .home-content #typewriter {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1.8rem;
    }
    
    .social {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }
}
