@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #0B1927;
    --second-bg-color: #112e42;
    --text-color:#ededed;
    --main-color: #0096FF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* general styling */
section {
    min-height: 100vh;
    padding: 10rem 10% 10rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

/* header design */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s ease;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/* home section design */
.home {
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url(../images/home.jpeg) center no-repeat;
    /* background-position: center; */
    background-size: cover;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.home > * {
    position: relative;
    z-index: 2;
}

.home-content {
    max-width: 60rem;
}

.home-content h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 0.5;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.home-content #typewriter {
    position: relative;
    color: var(--main-color);
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--bg-color);
    text-shadow: none;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.social {
    display: flex;
    position: absolute;
    bottom: 4rem;
    text-shadow: 2px 2px 10px var(--bg-color);
}

.social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 30px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social a:hover {
    color: var(--bg-color);
    text-shadow: none;
}

.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}

.social a:hover::before {
    width: 100%;
}

/* books section design */
.books {
    background-color: var(--second-bg-color);
}

.books-content {
    text-align: center;
}

.book-cover img {
    max-width: 35%;
    margin-bottom: 4rem;
}

hr {
    border: none;
    border-top: .5rem dotted var(--main-color);
    margin: 1rem 35% 2.2rem;
}

.books-content h3 {
    font-size: 2.6rem;
}

.books-content p {
    font-size: 1.6rem;
    margin: 2rem 10% 3rem;
}

.btn-books {
    margin: auto;
}

/* about section design */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
    padding-bottom: 6rem;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 10% 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

/* contact section design */
.contact {
    background-color: var(--second-bg-color);
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 72rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
    opacity: .5;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

/* footer design */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.5rem;
    color: var(--main-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--bg-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h2 {
        font-size: 3.5rem;
    }

    .home-content h1 {
        font-size: 5.2rem;
    }

    .home-content #typewriter {
        font-size: 2rem;
    }

    .home-content p,
    .about-content p,
    .book-content p {
        font-size: 1.8rem;
    }
    
    .social {
        left: 50%;
        transform: translateX(-50%);
    }

    .about-content h3,
    .books-content h3 {
        font-size: 2.2rem;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        font-size: 1.5rem;
        margin-top: 2rem;
        text-align: center;
    }
}

/* ANIMATION */
@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}